<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../../../content/css/sidebar/nucleo-icons.css">
<link rel="stylesheet" href="../../../content/css/sidebar/black-dashboard.css?v=1.0.0">
<div class="sidebar fixed">
    <div class="sidebar-wrapper" style="background-color: #007bff;">
        <div class="logo text-center">
            <a routerLink="/" class="simple-text logo-normal">
                GPSApp
            </a>
        </div>
        <ul class="nav">
            <li class="">
                <a routerLink="tarea"  class="simple-text">
                    <h5>Tarea</h5>
                </a>
            </li>
            <li class="">
                <a routerLink="ubicacion"  class="simple-text">
                    <h5>Ubicación</h5>
                </a>
            </li>
            <li class="">
                <a routerLink="sub-tarea"  class="simple-text">
                    <h5>SubTarea</h5>
                </a>
            </li>
            <li class="">
                <a routerLink="cliente"  class="simple-text">
                    <h5>Cliente</h5>
                </a>
            </li>
            <li class="">
                <a routerLink="admin/user-management"  class="simple-text">
                    <h5>Empleado</h5>
                </a>
            </li>
            <li class="">
                <a routerLink="ruta"  class="simple-text">
                    <h5>Ruta</h5>
                </a>
            </li>
            <li>
                <a routerLink="horario"  class="simple-text">
                    <h5>Horario</h5>
                </a>
            </li>
        </ul>
    </div>
</div>
