<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpsApp.empleado.home.title">Empleados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-empleado" [routerLink]="['/empleado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gpsApp.empleado.home.createLabel">
            Create new Empleado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="empleados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gpsApp.empleado.idUsuarioRelacion">Id Usuario Relacion</span></th>
            <th><span jhiTranslate="gpsApp.empleado.nombre">Nombre</span></th>
            <th><span jhiTranslate="gpsApp.empleado.apellidos">Apellidos</span></th>
            <th><span jhiTranslate="gpsApp.empleado.ubicacion">Ubicacion</span></th>
            <th><span jhiTranslate="gpsApp.empleado.horarios">Horarios</span></th>
            <th><span jhiTranslate="gpsApp.empleado.tipo">Tipo</span></th>
            <th><span jhiTranslate="gpsApp.empleado.empleados">Empleados</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empleado of empleados ;trackBy: trackId">
                <td><a [routerLink]="['/empleado', empleado.id, 'view' ]">{{empleado.id}}</a></td>
                <td>{{empleado.idUsuarioRelacion}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellidos}}</td>
                <td>
                    <div *ngIf="empleado.ubicacion">
                        <a [routerLink]="['../ubicacion', empleado.ubicacion?.id, 'view' ]" >{{empleado.ubicacion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="empleado.horarios">
                        <a [routerLink]="['../horario', empleado.horarios?.id, 'view' ]" >{{empleado.horarios?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="empleado.tipo">
                        <a [routerLink]="['../tipo-empleado', empleado.tipo?.id, 'view' ]" >{{empleado.tipo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="empleado.empleados">
                        <a [routerLink]="['../chat', empleado.empleados?.id, 'view' ]" >{{empleado.empleados?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/empleado', empleado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/empleado', empleado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'empleado', { outlets: { popup: empleado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
