<div class="container-fluid">
    <div class="search-div">
        <button mat-raised-button color="primary" [routerLink]="['./new']">
            <mat-icon>add</mat-icon>Crear nuevo usuario
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter($event.target.value)">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <jhi-alert></jhi-alert>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="login">
                <mat-header-cell *matHeaderCellDef>Nombre <br /> Usuario</mat-header-cell>
                <mat-cell *matCellDef="let fullUserInfo">
                    <p class="text-truncate"><a [routerLink]="['./', fullUserInfo.user.login, 'view']">{{fullUserInfo.user.login}}</a>
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell id="email_header" *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell id="email_cell" *matCellDef="let usercustomuser">
                    <p class="text-truncate">{{usercustomuser.user.email}}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <p class="text-truncate">{{usercustomuser.empleado.nombre}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="apellidos">
                <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <p class="text-truncate">{{usercustomuser.empleado.apellidos}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef>Tipo <br />Usuario</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <p class="text-truncate">{{usercustomuser.empleado.tipo.nombreTipo}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="activated">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <button class="buttons" type="button" mat-button color="warn" (click)="setActive(usercustomuser.user, true)" *ngIf="!usercustomuser.user.activated">Desactivado</button>
                    <button class="buttons" type="button" mat-button color="primary" (click)="setActive(usercustomuser.user, false)" *ngIf="usercustomuser.user.activated" [disabled]="currentAccount.login === usercustomuser.user.login">Activado</button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="authorities">
                <mat-header-cell *matHeaderCellDef>Accesos</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <span class="badge badge-info">{{usercustomuser.user.authorities}}</span>
                </mat-cell>
            </ng-container>
            <!--columna buttons-->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button *ngIf="isNotMyself(usercustomuser)" mat-menu-item aria-label="remove" (click)="deleteUser(usercustomuser.user)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item aria-label="edit" [routerLink]="['./', usercustomuser.user.login, 'edit']">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>
            <!--Mat-header-row y mat-row es lo primero que se tiene que incluir para construir la tabla-->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let user; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>
</div>
