<div class="justify-content-center mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="customUser">
                    <h1 id="jhi-cliente-heading">Usuario {{customUser.user.login}}</h1>
                    <hr>
                    <h5 mat-line>Nombre de usuario</h5>
                    <p mat-line> {{customUser.user.login}}
                        <jhi-boolean [value]="customUser.user.activated" textTrue="Activado" textFalse="Desactivado">
                        </jhi-boolean>
                    </p>
                    <h5 mat-line>Nombre</h5>
                    <p mat-line> {{customUser.empleado.nombre}} </p>
                    <h5 mat-line>Apellido</h5>
                    <p mat-line> {{customUser.empleado.apellidos}} </p>
                    <h5 mat-line>Email</h5>
                    <p mat-line> {{customUser.user.email}} </p>
                    <h5 mat-line>Tipo usuario</h5>
                    <p mat-line> {{customUser.empleado.tipo.nombreTipo}} </p>
                    <h5 mat-line>Horario</h5>
                    <p mat-line> {{customUser.empleado.horarios.nombre}} </p>
                    <h5 mat-line>Accesos</h5>
                    <p mat-line *ngFor="let authority of customUser.user.authorities"> <span class="badge badge-info">{{authority}}</span> </p>
                    <br />
                    <button type="button" mat-raised-button class="btn btn-secondary" (click)="previousState()">
                        <mat-icon matSuffix>arrow_back</mat-icon>
                        Regresar
                    </button>
                    <button type="submit" mat-raised-button color="primary" class="mat-raised-button mat-primary" [routerLink]="['../../', customUser.user.login, 'edit']">
                        <mat-icon matSuffix>edit</mat-icon>
                        Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
