<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span>Usuario</span> <b>{{user.login}}</b>
            </h2>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre de usuario</span></dt>
                <dd>
                    <span>{{user.login}}</span>
                    <jhi-boolean
                        [value]="user.activated"
                        textTrue="Activado"
                        textFalse="Desactivado">
                    </jhi-boolean>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>{{user.firstName}}</dd>
                <dt><span>Apellido</span></dt>
                <dd>{{customUser.apellidos}}</dd>
                <dt><span>Email</span></dt>
                <dd>{{user.email}}</dd>
                <dt><span>Tipo usuario</span></dt>
                <dd>{{customUser.tipo.nombreTipo}}</dd>
                <dt><span>Horario</span></dt>
                <dd>{{customUser.horarios.nombre}}</dd>
                <!--<dt><span>Created By</span></dt>
                <dd>{{user.createdBy}}</dd>
                <dt><span>Created Date</span></dt>
                <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span>Last Modified By</span></dt>
                <dd>{{user.lastModifiedBy}}</dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>-->
                <dt><span>Accesos</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Regresar</span>
            </button>
        </div>
    </div>
</div>
