<div class="justify-content-center mt-4">
    <div class="container">
        <form name="editForm" [formGroup]="usuariosForm" novalidate (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-12">
                    <jhi-alert-error></jhi-alert-error>
                    <h1 id="jhi-cliente-heading">Crear - editar usuario</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre usuario*</mat-label>
                        <input matInput formControlName="login" [(ngModel)]="user.login">
                        <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                        <mat-error>
                            Nombre del usuario es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre*</mat-label>
                        <input matInput type="text" formControlName="nombre" [(ngModel)]="customUser.nombre">
                        <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                        <mat-error>
                            El nombre es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido(s)*</mat-label>
                        <input matInput type="text" formControlName="apellido" [(ngModel)]="customUser.apellidos">
                        <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                        <mat-error>
                            El apellido es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email*</mat-label>
                        <input matInput type="email" formControlName="email" [(ngModel)]="user.email">
                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                        <mat-error *ngIf="usuariosForm.get('email').hasError('required')">
                            Correo es requerido
                        </mat-error>
                        <mat-error *ngIf="!usuariosForm.get('email').hasError('required') &&
                                usuariosForm.get('email').hasError('email')">
                            Ingrese un correo valido (correo@correo.com)
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo usuario*</mat-label>
                        <mat-select [(ngModel)]="selectedType.nombreTipo" formControlName="tipoUsuario" (selectionChange)="setTypeSelected($event.value)">
                            <mat-option *ngFor="let tipo of tipoempleados;" [value]="tipo.nombreTipo">
                                {{tipo.nombreTipo}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                        <mat-error>
                            El tipo de usuario es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Horario*</mat-label>
                        <mat-select [(ngModel)]="selectedSchedule.nombre" formControlName="horario" (selectionChange)="setScheduleSelected($event.value)">
                            <mat-option *ngFor="let horario of horarios;" [value]="horario.nombre">
                                {{horario.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
                        <mat-error>
                            El horario es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Accesar como*</mat-label>
                        <mat-select [(ngModel)]="selectedAuthority" formControlName="accesos">
                            <mat-option *ngFor="let authority of authorities" [value]="authority">
                                {{authority}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                        <mat-error>
                            El tipo de acceso es requerido
                        </mat-error>
                    </mat-form-field>
                    <button type="button" mat-raised-button class="btn btn-secondary" (click)="previousState()">
                        <mat-icon matSuffix>cancel</mat-icon>
                        Cancelar
                    </button>
                    <button type="submit" mat-raised-button color="primary" class="mat-raised-button mat-primary" [disabled]="usuariosForm.invalid">
                        <mat-icon matSuffix>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
