<div class="container-fluid">
    <div class="search-div">
        <button mat-raised-button color="primary" [routerLink]="['/.new']">
            <mat-icon>add</mat-icon>Crear nuevo usuario
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <jhi-alert></jhi-alert>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="user.login">
                <mat-header-cell *matHeaderCellDef>Nombre <br /> Usuario</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <p class="text-truncate font-weight-600"><a [routerLink]="['./', usercustomuser.user.login, 'view']">{{usercustomuser.user.login}}</a>

                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="user.email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let usercustomuser">
                    <p class="text-truncate font-weight-600">{{usercustomuser.user.email}}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="empleado.nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <p class="text-truncate font-weight-600">{{user.empleado.nombre}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="empleado.apellidos">
                <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <p class="text-truncate font-weight-600">{{user.empleado.apellidos}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="empleado.tipo">
                <mat-header-cell *matHeaderCellDef>Tipo <br />Usuario</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <p class="text-truncate font-weight-600">{{user.empleado.tipo.nombreTipo}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="user.activated">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <button mat-button color="primary" (click)="setActive(user.user, true)" *ngIf="!user.user.activated">Desactivado</button>
                    <button mat-button (click)="setActive(user.user, false)" *ngIf="user.user.activated" [disabled]="currentAccount.login === user.user.login">Activado</button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="user.authorities">
                <mat-header-cell *matHeaderCellDef>Accesos</mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <span matBadge="4" matBadgeOverlap="false">{{user.authorities}}</span>
                </mat-cell>
            </ng-container>
            <!--columna buttons-->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" [routerLink]="['/', 'user-management', { outlets: { popup: user.user.id + '/delete'} }]">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item aria-label="edit" [routerLink]="['/user-management', user.user.id, 'edit']">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>
            <!--Mat-header-row y mat-row es lo primero que se tiene que incluir para construir la tabla-->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let user; columns: displayedColumns;" [routerLink]="['/user-management', user.user.id, 'view']" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>
</div>
