<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span>Cliente</span> {{cliente.nombre}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt>
                    <ng-container *ngIf="empresa != true; else elseTemplate2">
                        <span>
                            Cédula
                        </span>
                    </ng-container>
                    <ng-template #elseTemplate2>
                         <span>
                            Cédula Jurídica
                        </span>
                    </ng-template>


                </dt>
                <dd>
                    <span>{{cliente.cedula}}</span>
                </dd>
                <dt><span>Dirección</span></dt>
                <dd>
                    <span>{{cliente.direccion}}</span>
                </dd>
                <dt><span>Correo</span></dt>
                <dd>
                    <span>{{cliente.correo}}</span>
                </dd>
                <dt><span>Tipo cliente</span></dt>
                <dd>
                    <ng-container *ngIf="cliente.esEmpresa != true; else elseTemplate">
                        <span>
                            Cliente
                        </span>
                    </ng-container>
                    <ng-template #elseTemplate>
                         <span>
                            Empresa
                        </span>
                    </ng-template>
                </dd>


            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Regresar</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
