<div class="justify-content-center mt-4">
    <div class="container">
        <div class="alert alert-danger" *ngIf="errorCedulaNotExists">
            <strong>Este cédula ya se encuentra registrada en la base de datos</strong> Por favos intente otra vez!
        </div>
        <form name="editForm"  [formGroup]="clienteForm" novalidate (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-6">

                <h1 id="jhi-cliente-heading">Información básica</h1>
                <mat-checkbox #esEmpesaCheckBox (click)="esEmpresa(esEmpesaCheckBox.value)"
                              [(ngModel)]="cliente.esEmpresa"
                              [ngModelOptions]="{standalone: true}">
                    ¿Es empresa?
                </mat-checkbox>
                <mat-form-field appearance="outline">
                    <mat-label>{{nombreClienteInput}}</mat-label>
                    <input id="nombre_field" matInput formControlName="nombre" [(ngModel)]="cliente.nombre">
                     <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                     <mat-error>
                         Nombre del cliente es requerido
                     </mat-error>
                 </mat-form-field>
                 <mat-form-field appearance="outline">
                     <mat-label>{{cedulaClienteInput}}</mat-label>
                     <input matInput formControlName="cedula" [(ngModel)]="cliente.cedula">
                     <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                     <mat-error>
                         Cédula del cliente es requerido
                     </mat-error>
                 </mat-form-field>
                 <mat-form-field appearance="outline">
                     <mat-label>Correo*</mat-label>
                     <input matInput formControlName="correo" [(ngModel)]="cliente.correo">
                     <mat-icon matSuffix class="secondary-text">email</mat-icon>
                     <mat-error *ngIf="clienteForm.get('correo').hasError('required')">
                         Correo del cliente es requerido
                     </mat-error>
                     <mat-error
                         *ngIf="!clienteForm.get('correo').hasError('required') &&
                                 clienteForm.get('correo').hasError('email')">
                         Ingrese un correo valido.
                     </mat-error>
                 </mat-form-field>
                <button type="button"
                        mat-raised-button
                        class="btn btn-secondary"
                        (click)="previousState()">
                    <mat-icon matSuffix>cancel</mat-icon>
                    Cancelar
                </button >
                <button type="submit"
                    mat-raised-button color="primary" class="mat-raised-button mat-primary"
                         [disabled]="clienteForm.invalid">
                    <mat-icon matSuffix>save</mat-icon>
                    Guardar
                </button>

             </div>
             <div class="col-md-6">
                 <h1>Ubicación</h1>
                 <mat-form-field appearance="outline">

                     <input matInput formControlName="direccion"
                            [(ngModel)]="cliente.direccion"
                            readonly
                     placeholder="Elija una posición en el mapa para ingresar la dirección">
                     <mat-icon matSuffix class="secondary-text">directions</mat-icon>
                     <mat-error>
                         Dirección es requerida.
                     </mat-error>
                 </mat-form-field>
                 <div class="form-group">
                     <label class="form-control-label">Ubicación</label>
                     <agm-map
                     [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="zoom"
                     (mapClick)="mapClicked($event)">
                         <agm-marker
                         [latitude]="lat"
                         [longitude]="lng"
                         *ngIf="locationChosen">
                         </agm-marker>

                     </agm-map>

                 </div>

             </div>

         </div>
         </form>
     </div>
 </div>
