<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="gpsApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gpsApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.cedula">Cedula</span></dt>
                <dd>
                    <span>{{cliente.cedula}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.direccion">Direccion</span></dt>
                <dd>
                    <span>{{cliente.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.correo">Correo</span></dt>
                <dd>
                    <span>{{cliente.correo}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.esEmpresa">Es Empresa</span></dt>
                <dd>
                    <span>{{cliente.esEmpresa}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.borrado">Borrado</span></dt>
                <dd>
                    <span>{{cliente.borrado}}</span>
                </dd>
                <dt><span jhiTranslate="gpsApp.cliente.ubicacion">Ubicacion</span></dt>
                <dd>
                    <div *ngIf="cliente.ubicacion">
                        <a [routerLink]="['/ubicacion', cliente.ubicacion?.id, 'view']">{{cliente.ubicacion?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
