<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpsApp.log.home.title">Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-log" [routerLink]="['/log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gpsApp.log.home.createLabel">
            Create new Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="logs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gpsApp.log.mensaje">Mensaje</span></th>
            <th><span jhiTranslate="gpsApp.log.fecha">Fecha</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let log of logs ;trackBy: trackId">
                <td><a [routerLink]="['/log', log.id, 'view' ]">{{log.id}}</a></td>
                <td>{{log.mensaje}}</td>
                <td>{{log.fecha | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/log', log.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/log', log.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'log', { outlets: { popup: log.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
