<div>
    <h2 id="page-heading">
        <span>Horarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-horario" [routerLink]="['/horario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Horario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="horarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <th><span>Lunes Inico</span></th>
            <th><span>Lunes Fin</span></th>
            <th><span>Martes Inico</span></th>
            <th><span>Martes Fin</span></th>
            <th><span>Miercoles Inico</span></th>
            <th><span>Miercoles Fin</span></th>
            <th><span>Jueves Inico</span></th>
            <th><span>Jueves Fin</span></th>
            <th><span>Viernes Inico</span></th>
            <th><span>Viernes Fin</span></th>
            <th><span>Sabado Inico</span></th>
            <th><span>Sabado Fin</span></th>
            <th><span>Domingo Inico</span></th>
            <th><span>Domingo Fin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios ;trackBy: trackId">
                <td><a [routerLink]="['/horario', horario.id, 'view' ]">{{horario.id}}</a></td>
                <td>{{horario.nombre}}</td>
                <td>{{horario.lunesInico | date:'mediumDate'}}</td>
                <td>{{horario.lunesFin | date:'mediumDate'}}</td>
                <td>{{horario.martesInico | date:'mediumDate'}}</td>
                <td>{{horario.martesFin | date:'mediumDate'}}</td>
                <td>{{horario.miercolesInico | date:'mediumDate'}}</td>
                <td>{{horario.miercolesFin | date:'mediumDate'}}</td>
                <td>{{horario.juevesInico | date:'mediumDate'}}</td>
                <td>{{horario.juevesFin | date:'mediumDate'}}</td>
                <td>{{horario.viernesInico | date:'mediumDate'}}</td>
                <td>{{horario.viernesFin | date:'mediumDate'}}</td>
                <td>{{horario.sabadoInico | date:'mediumDate'}}</td>
                <td>{{horario.sabadoFin | date:'mediumDate'}}</td>
                <td>{{horario.domingoInico | date:'mediumDate'}}</td>
                <td>{{horario.domingoFin | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'horario', { outlets: { popup: horario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
