<div class="justify-content-center mt-4">
    <div class="container">
        <form name="editForm" [formGroup]="horariosForm" novalidate (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-12">
                    <jhi-alert-error></jhi-alert-error>
                    <h1 id="jhi-cliente-heading">Crear - editar horario</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre horario*</mat-label>
                        <input  matInput formControlName="nombre" [(ngModel)]="horario.nombre">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
                        <mat-error>
                            Nombre del horario es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Lunes Inicio</mat-label>
                        <input matInput type="time" formControlName="lunesInicio" [(ngModel)]="horario.lunesInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Lunes Fin</mat-label>
                        <input  matInput type="time" formControlName="lunesFin" [(ngModel)]="horario.lunesFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Martes Inicio</mat-label>
                        <input  matInput type="time" formControlName="martesInicio" [(ngModel)]="horario.martesInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Martes Fin</mat-label>
                        <input  matInput type="time" formControlName="martesFin" [(ngModel)]="horario.martesFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Miercoles Inicio</mat-label>
                        <input  matInput type="time" formControlName="miercolesInicio" [(ngModel)]="horario.miercolesInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Miercoles Fin</mat-label>
                        <input  matInput type="time" formControlName="miercolesFin" [(ngModel)]="horario.miercolesFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Jueves Inicio</mat-label>
                        <input  matInput type="time" formControlName="juevesInicio" [(ngModel)]="horario.juevesInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Jueves Fin</mat-label>
                        <input  matInput type="time" formControlName="juevesFin" [(ngModel)]="horario.juevesFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Viernes Inicio</mat-label>
                        <input  matInput type="time" formControlName="viernesInicio" [(ngModel)]="horario.viernesInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Viernes Fin</mat-label>
                        <input  matInput type="time" formControlName="viernesFin" [(ngModel)]="horario.viernesFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sabado Inicio</mat-label>
                        <input  matInput type="time" formControlName="sabadoInicio" [(ngModel)]="horario.sabadoInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sabado Fin</mat-label>
                        <input  matInput type="time" formControlName="sabadoFin" [(ngModel)]="horario.sabadoFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Domingo Inicio</mat-label>
                        <input  matInput type="time" formControlName="domingoInicio" [(ngModel)]="horario.domingoInico">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Domingo Fin</mat-label>
                        <input  matInput type="time" formControlName="domingoFin" [(ngModel)]="horario.domingoFin">
                        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>

                    </mat-form-field>
                    <button type="button" mat-raised-button class="btn btn-secondary" (click)="previousState()">
                        <mat-icon matSuffix>cancel</mat-icon>
                        Cancelar
                    </button>
                    <button type="submit" mat-raised-button color="primary" class="mat-raised-button mat-primary" [disabled]="horariosForm.invalid">
                        <mat-icon matSuffix>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
