<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horario">
            <h2><span>Horario</span> {{horario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{horario.nombre}}</span>
                </dd>
                <dt><span>Lunes Inico</span></dt>
                <dd>
                    <span>{{horario.lunesInico}}</span>
                </dd>
                <dt><span>Lunes Fin</span></dt>
                <dd>
                    <span>{{horario.lunesFin}}</span>
                </dd>
                <dt><span>Martes Inico</span></dt>
                <dd>
                    <span>{{horario.martesInico}}</span>
                </dd>
                <dt><span>Martes Fin</span></dt>
                <dd>
                    <span>{{horario.martesFin}}</span>
                </dd>
                <dt><span>Miercoles Inico</span></dt>
                <dd>
                    <span>{{horario.miercolesInico}}</span>
                </dd>
                <dt><span>Miercoles Fin</span></dt>
                <dd>
                    <span>{{horario.miercolesFin}}</span>
                </dd>
                <dt><span>Jueves Inico</span></dt>
                <dd>
                    <span>{{horario.juevesInico}}</span>
                </dd>
                <dt><span>Jueves Fin</span></dt>
                <dd>
                    <span>{{horario.juevesFin}}</span>
                </dd>
                <dt><span>Viernes Inico</span></dt>
                <dd>
                    <span>{{horario.viernesInico}}</span>
                </dd>
                <dt><span>Viernes Fin</span></dt>
                <dd>
                    <span>{{horario.viernesFin}}</span>
                </dd>
                <dt><span>Sabado Inico</span></dt>
                <dd>
                    <span>{{horario.sabadoInico}}</span>
                </dd>
                <dt><span>Sabado Fin</span></dt>
                <dd>
                    <span>{{horario.sabadoFin}}</span>
                </dd>
                <dt><span>Domingo Inico</span></dt>
                <dd>
                    <span>{{horario.domingoInico}}</span>
                </dd>
                <dt><span>Domingo Fin</span></dt>
                <dd>
                    <span>{{horario.domingoFin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horario', horario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
