<div class="container-fluid">
    <div class="search-div">
        <button mat-raised-button color="primary" [routerLink]="['/horario/new']">
            <mat-icon>add</mat-icon>
            Crear nuevo horario
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <jhi-alert></jhi-alert>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.nombre}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lunesI">
                <mat-header-cell *matHeaderCellDef>Lunes <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.lunesInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lunesF">
                <mat-header-cell *matHeaderCellDef>Lunes <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.lunesFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="martesI">
                <mat-header-cell *matHeaderCellDef>Martes <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.martesInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="martesF">
                <mat-header-cell *matHeaderCellDef>Martes <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.martesFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="miercolesI">
                <mat-header-cell *matHeaderCellDef>Miercoles <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.miercolesInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="miercolesF">
                <mat-header-cell *matHeaderCellDef>Miercoles <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.miercolesFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="juevesI">
                <mat-header-cell *matHeaderCellDef>Jueves <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.juevesInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="juevesF">
                <mat-header-cell *matHeaderCellDef>Jueves <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.juevesFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viernesI">
                <mat-header-cell *matHeaderCellDef>Viernes <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.viernesInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viernesF">
                <mat-header-cell *matHeaderCellDef>Viernes <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.viernesFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sabadoI">
                <mat-header-cell *matHeaderCellDef>Sabado <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.sabadoInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sabadoF">
                <mat-header-cell *matHeaderCellDef>Sabado <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.sabadoFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="domingoI">
                <mat-header-cell *matHeaderCellDef>Domingo <br /> Inicio</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.domingoInico}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="domingoF">
                <mat-header-cell *matHeaderCellDef>Domingo <br /> Fin</mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <p class="text-truncate">{{horario.domingoFin}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let horario">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" [routerLink]="['/', 'horario', { outlets: { popup: horario.id + '/delete'} }]">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item aria-label="edit" [routerLink]="['/horario', horario.id, 'edit']">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>
            <!--Mat-header-row y mat-row es lo primero que se tiene que incluir para construir la tabla-->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let horario; columns: displayedColumns;" [routerLink]="['/horario', horario.id, 'view' ]" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>
</div>
