<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpsApp.horario.home.title">Horarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-horario" [routerLink]="['/horario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gpsApp.horario.home.createLabel">
            Create new Horario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="horarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gpsApp.horario.nombre">Nombre</span></th>
            <th><span jhiTranslate="gpsApp.horario.lunesInico">Lunes Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.lunesFin">Lunes Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.martesInico">Martes Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.martesFin">Martes Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.miercolesInico">Miercoles Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.miercolesFin">Miercoles Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.juevesInico">Jueves Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.juevesFin">Jueves Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.viernesInico">Viernes Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.viernesFin">Viernes Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.sabadoInico">Sabado Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.sabadoFin">Sabado Fin</span></th>
            <th><span jhiTranslate="gpsApp.horario.domingoInico">Domingo Inico</span></th>
            <th><span jhiTranslate="gpsApp.horario.domingoFin">Domingo Fin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios ;trackBy: trackId">
                <td><a [routerLink]="['/horario', horario.id, 'view' ]">{{horario.id}}</a></td>
                <td>{{horario.nombre}}</td>
                <td>{{horario.lunesInico}}</td>
                <td>{{horario.lunesFin}}</td>
                <td>{{horario.martesInico}}</td>
                <td>{{horario.martesFin}}</td>
                <td>{{horario.miercolesInico}}</td>
                <td>{{horario.miercolesFin}}</td>
                <td>{{horario.juevesInico}}</td>
                <td>{{horario.juevesFin}}</td>
                <td>{{horario.viernesInico}}</td>
                <td>{{horario.viernesFin}}</td>
                <td>{{horario.sabadoInico}}</td>
                <td>{{horario.sabadoFin}}</td>
                <td>{{horario.domingoInico}}</td>
                <td>{{horario.domingoFin}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/horario', horario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'horario', { outlets: { popup: horario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
