<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-horario-heading">Crear - editar horario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--<div class="form-group" [hidden]="!horario.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="horario.id" readonly />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="horario.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required">
                        Este campo es requerido
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lunesInico">Lunes Inicio</label>
                    <input type="time" class="form-control" name="lunesInico" id="field_lunesInico"
                        [(ngModel)]="horario.lunesInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lunesFin">Lunes Fin</label>
                    <input type="time" class="form-control" name="lunesFin" id="field_lunesFin"
                        [(ngModel)]="horario.lunesFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_martesInico">Martes Inicio</label>
                    <input type="time" class="form-control" name="martesInico" id="field_martesInico"
                        [(ngModel)]="horario.martesInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_martesFin">Martes Fin</label>
                    <input type="time" class="form-control" name="martesFin" id="field_martesFin"
                        [(ngModel)]="horario.martesFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_miercolesInico">Miercoles Inicio</label>
                    <input type="time" class="form-control" name="miercolesInico" id="field_miercolesInico"
                        [(ngModel)]="horario.miercolesInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_miercolesFin">Miercoles Fin</label>
                    <input type="time" class="form-control" name="miercolesFin" id="field_miercolesFin"
                        [(ngModel)]="horario.miercolesFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_juevesInico">Jueves Inicio</label>
                    <input type="time" class="form-control" name="juevesInico" id="field_juevesInico"
                        [(ngModel)]="horario.juevesInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_juevesFin">Jueves Fin</label>
                    <input type="time" class="form-control" name="juevesFin" id="field_juevesFin"
                        [(ngModel)]="horario.juevesFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_viernesInico">Viernes Inicio</label>
                    <input type="time" class="form-control" name="viernesInico" id="field_viernesInico"
                        [(ngModel)]="horario.viernesInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_viernesFin">Viernes Fin</label>
                    <input type="time" class="form-control" name="viernesFin" id="field_viernesFin"
                        [(ngModel)]="horario.viernesFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sabadoInico">Sabado Inicio</label>
                    <input type="time" class="form-control" name="sabadoInico" id="field_sabadoInico"
                        [(ngModel)]="horario.sabadoInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sabadoFin">Sabado Fin</label>
                    <input type="time" class="form-control" name="sabadoFin" id="field_sabadoFin"
                        [(ngModel)]="horario.sabadoFin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_domingoInico">Domingo Inicio</label>
                    <input type="time" class="form-control" name="domingoInico" id="field_domingoInico"
                        [(ngModel)]="horario.domingoInico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_domingoFin">Domingo Fin</label>
                    <input type="time" class="form-control" name="domingoFin" id="field_domingoFin"
                        [(ngModel)]="horario.domingoFin" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
