<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-mensaje-heading" jhiTranslate="gpsApp.mensaje.home.createOrEditLabel">Create or edit a Mensaje</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mensaje.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mensaje.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpsApp.mensaje.texto" for="field_texto">Texto</label>
                    <input type="text" class="form-control" name="texto" id="field_texto"
                        [(ngModel)]="mensaje.texto" required/>
                    <div [hidden]="!(editForm.controls.texto?.dirty && editForm.controls.texto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.texto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpsApp.mensaje.fechaEnvio" for="field_fechaEnvio">Fecha Envio</label>
                    <input type="text" class="form-control" name="fechaEnvio" id="field_fechaEnvio"
                        [(ngModel)]="mensaje.fechaEnvio" required/>
                    <div [hidden]="!(editForm.controls.fechaEnvio?.dirty && editForm.controls.fechaEnvio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaEnvio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpsApp.mensaje.empleado" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" [(ngModel)]="mensaje.empleado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadoOption.id === mensaje.empleado?.id ? mensaje.empleado : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpsApp.mensaje.mensajes" for="field_mensajes">Mensajes</label>
                    <select class="form-control" id="field_mensajes" name="mensajes" [(ngModel)]="mensaje.mensajes" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chatOption.id === mensaje.mensajes?.id ? mensaje.mensajes : chatOption" *ngFor="let chatOption of chats; trackBy: trackChatById">{{chatOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
