<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tarea-heading">Create or edit a Tarea</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tarea.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tarea.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="tarea.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="tarea.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inicio">Inicio</label>
                    <div class="input-group">
                        <input id="field_inicio" type="text" class="form-control" name="inicio" ngbDatepicker  #inicioDp="ngbDatepicker" [(ngModel)]="tarea.inicio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="inicioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.inicio?.dirty && editForm.controls.inicio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.inicio?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fin">Fin</label>
                    <div class="input-group">
                        <input id="field_fin" type="text" class="form-control" name="fin" ngbDatepicker  #finDp="ngbDatepicker" [(ngModel)]="tarea.fin"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="finDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fin?.dirty && editForm.controls.fin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fin?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_usarRuta">Usar Ruta</label>
                    <input type="checkbox" class="form-control" name="usarRuta" id="field_usarRuta"
                        [(ngModel)]="tarea.usarRuta" />
                    <div [hidden]="!(editForm.controls.usarRuta?.dirty && editForm.controls.usarRuta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.usarRuta?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_horaInicio">Hora Inicio</label>
                    <div class="input-group">
                        <input id="field_horaInicio" type="text" class="form-control" name="horaInicio" ngbDatepicker  #horaInicioDp="ngbDatepicker" [(ngModel)]="tarea.horaInicio"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="horaInicioDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.horaInicio?.dirty && editForm.controls.horaInicio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaInicio?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_horaFin">Hora Fin</label>
                    <div class="input-group">
                        <input id="field_horaFin" type="text" class="form-control" name="horaFin" ngbDatepicker  #horaFinDp="ngbDatepicker" [(ngModel)]="tarea.horaFin"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="horaFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.horaFin?.dirty && editForm.controls.horaFin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaFin?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notaExtra">Nota Extra</label>
                    <input type="text" class="form-control" name="notaExtra" id="field_notaExtra"
                        [(ngModel)]="tarea.notaExtra" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firma">Firma</label>
                    <input type="text" class="form-control" name="firma" id="field_firma"
                        [(ngModel)]="tarea.firma" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activa">Activa</label>
                    <input type="checkbox" class="form-control" name="activa" id="field_activa"
                        [(ngModel)]="tarea.activa" />
                    <div [hidden]="!(editForm.controls.activa?.dirty && editForm.controls.activa?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activa?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_completada">Completada</label>
                    <input type="checkbox" class="form-control" name="completada" id="field_completada"
                        [(ngModel)]="tarea.completada" />
                    <div [hidden]="!(editForm.controls.completada?.dirty && editForm.controls.completada?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.completada?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_borrado">Borrado</label>
                    <input type="checkbox" class="form-control" name="borrado" id="field_borrado"
                        [(ngModel)]="tarea.borrado" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subtarea">Subtarea</label>
                    <select class="form-control" id="field_subtarea" name="subtarea" [(ngModel)]="tarea.subtarea">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subTareaOption.id === tarea.subtarea?.id ? tarea.subtarea : subTareaOption" *ngFor="let subTareaOption of subtareas; trackBy: trackSubTareaById">{{subTareaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" [(ngModel)]="tarea.empleado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empleadoOption.id === tarea.empleado?.id ? tarea.empleado : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ubicacion">Ubicacion</label>
                    <select class="form-control" id="field_ubicacion" name="ubicacion" [(ngModel)]="tarea.ubicacion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ubicacionOption.id === tarea.ubicacion?.id ? tarea.ubicacion : ubicacionOption" *ngFor="let ubicacionOption of ubicacions; trackBy: trackUbicacionById">{{ubicacionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="tarea.cliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === tarea.cliente?.id ? tarea.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ruta">Ruta</label>
                    <select class="form-control" id="field_ruta" name="ruta" [(ngModel)]="tarea.ruta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rutaOption.id === tarea.ruta?.id ? tarea.ruta : rutaOption" *ngFor="let rutaOption of rutas; trackBy: trackRutaById">{{rutaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_logs">Logs</label>
                    <select class="form-control" id="field_logs" name="logs" [(ngModel)]="tarea.logs" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="logOption.id === tarea.logs?.id ? tarea.logs : logOption" *ngFor="let logOption of logs; trackBy: trackLogById">{{logOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
