<div class="container-fluid">
    <div class="search-div">
        <button mat-raised-button color="primary" [routerLink]="['/tarea/new']">
            <mat-icon>add</mat-icon>Crear nueva Tarea
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar..." autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <jhi-alert></jhi-alert>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource">
            <!--columna titulo-->
            <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600">{{tarea.title}}</p>
                </mat-cell>
            </ng-container>
            <!--columna descripcion-->
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600">{{tarea.descripcion}}</p>
                </mat-cell>
            </ng-container>
            <!--columna inicio-->
            <ng-container matColumnDef="inicio">
                <mat-header-cell *matHeaderCellDef>Inicio</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600">{{tarea.inicio | date:'mediumDate'}}</p>
                </mat-cell>
            </ng-container>
            <!--columna fin-->
            <ng-container matColumnDef="fin">
                <mat-header-cell *matHeaderCellDef>Fin</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600">{{tarea.fin | date:'mediumDate'}}</p>
                </mat-cell>
            </ng-container>
            <!--columna activa-->
            <ng-container matColumnDef="activa">
                <mat-header-cell *matHeaderCellDef>Activa</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600" [innerText]= "tarea.activa ? 'Sí' : 'No'"></p>
                </mat-cell>
            </ng-container>
            <!--columna completado-->
            <ng-container matColumnDef="completada">
                <mat-header-cell *matHeaderCellDef>Completada</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <p class="text-truncate font-weight-600" [innerText]= "tarea.completada ? 'Sí' : 'No'"></p>
                </mat-cell>
            </ng-container>
            <!--columna empleado-->
            <ng-container matColumnDef="empleado">
                <mat-header-cell *matHeaderCellDef>Empleado</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <ng-container *ngIf="tarea.empleado; else empleadoNo">
                        <p class="text-truncate font-weight-600">{{tarea.empleado?.nombre}} {{tarea.empleado?.apellidos}}
                        </p>
                    </ng-container>
                    <ng-template #empleadoNo>
                        <p class="text-truncate font-weight-600">Empelado no asignado</p>
                    </ng-template>
                </mat-cell>
            </ng-container>
            <!--columna cliente-->
            <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <ng-container *ngIf="tarea.cliente; else clienteNo">
                        <p class="text-truncate font-weight-600">{{tarea.cliente?.nombre}}</p>
                    </ng-container>
                    <ng-template #clienteNo>
                        <p class="text-truncate font-weight-600">Cliente no asignado</p>
                    </ng-template>
                </mat-cell>
            </ng-container>
            <!--columna ubicacion-->
            <ng-container matColumnDef="ubicacion">
                <mat-header-cell *matHeaderCellDef>Ubicación</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <ng-container *ngIf="tarea.ubicacion; else rutaNo">
                        <p class="text-truncate font-weight-600">{{tarea.ubicacion?.nombreDireccion}}</p>
                    </ng-container>
                    <ng-template #rutaNo>
                        <p class="text-truncate font-weight-600">Ubicacion no asignada</p>
                    </ng-template>
                </mat-cell>
            </ng-container>
            <!--columna ruta-->
            <ng-container matColumnDef="ruta">
                <mat-header-cell *matHeaderCellDef>Ruta</mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <ng-container *ngIf="tarea.ruta; else rutaNo">
                        <p class="text-truncate font-weight-600">{{tarea.ruta?.nombre}}</p>
                    </ng-container>
                    <ng-template #rutaNo>
                        <p class="text-truncate font-weight-600">Ruta no asignada</p>
                    </ng-template>
                </mat-cell>
            </ng-container>
            <!--columna buttons-->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let tarea">
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" [routerLink]="['/', 'tarea', { outlets: { popup: tarea.id + '/delete'} }]">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item aria-label="edit" [routerLink]="['/tarea', tarea.id, 'edit']">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let tarea; columns: displayedColumns;"
                     [routerLink]="['/tarea', tarea.id, 'view']"
                     matRipple
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </mat-table>
    </div>
</div>
<!--<div style="padding: 10px;">-->
<!--<h2 id="page-heading">-->
<!--<span>Tareas</span>-->
<!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarea" [routerLink]="['/tarea/new']">-->
<!--<fa-icon [icon]="'plus'"></fa-icon>-->
<!--<span >-->
<!--Crear nueva Tarea-->
<!--</span>-->
<!--</button>-->
<!--</h2>-->
<!--<jhi-alert></jhi-alert>-->
<!--<br/>-->
<!--<div class="table-responsive" *ngIf="tareas">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th><span>Titulo</span></th>-->
<!--<th><span>Descripción</span></th>-->
<!--<th><span>Inicio</span></th>-->
<!--<th><span>Fin</span></th>-->
<!--<th><span>Activa</span></th>-->
<!--<th><span>Completada</span></th>-->
<!--<th><span>Empleado</span></th>-->
<!--<th><span>Cliente</span></th>-->
<!--<th><span>Ruta</span></th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let tarea of tareas ;trackBy: trackId">-->
<!--<td>{{tarea.title}}</td>-->
<!--<td>{{tarea.descripcion}}</td>-->
<!--<td>{{tarea.inicio | date:'mediumDate'}}</td>-->
<!--<td>{{tarea.fin | date:'mediumDate'}}</td>-->
<!--<td [innerText]= "tarea.activa ? 'Sí' : 'No'"></td>-->
<!--<td [innerText]= "tarea.completada ? 'Sí' : 'No'"></td>-->
<!--<td>-->
<!--<div *ngIf="tarea.empleado">-->
<!--&lt;!&ndash;<a [routerLink]="['../empleado', tarea.empleado?.id, 'view']"> {{tarea.empleado?.nombre}} {{tarea.empleado?.apellidos}}</a>&ndash;&gt;-->
<!--<p>{{tarea.empleado?.nombre}} {{tarea.empleado?.apellidos}}</p>-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
<!--<div *ngIf="tarea.cliente">-->
<!--&lt;!&ndash;<a [routerLink]="['../cliente', tarea.cliente?.id, 'view' ]" >{{tarea.cliente?.nombre}}</a>&ndash;&gt;-->
<!--<p>{{tarea.cliente?.nombre}}</p>-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
<!--<div *ngIf="tarea.ruta">-->
<!--&lt;!&ndash;<a [routerLink]="['../ruta', tarea.ruta?.id, 'view' ]" >{{tarea.ruta?.nombre}}</a>&ndash;&gt;-->
<!--<p>{{tarea.ruta?.nombre}}</p>-->
<!--</div>-->
<!--</td>-->
<!--<td class="text-right">-->
<!--<div class="btn-group flex-btn-group-container">-->
<!--<button type="submit"-->
<!--[routerLink]="['/tarea', tarea.id, 'view' ]"-->
<!--class="btn btn-info btn-sm">-->
<!--<fa-icon [icon]="'eye'"></fa-icon>-->
<!--<span class="d-none d-md-inline">Ver</span>-->
<!--</button>-->
<!--<button type="submit"-->
<!--[routerLink]="['/tarea', tarea.id, 'edit']"-->
<!--class="btn btn-primary btn-sm">-->
<!--<fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--<span class="d-none d-md-inline">Editar</span>-->
<!--</button>-->
<!--<button type="submit"-->
<!--[routerLink]="['/', 'tarea', { outlets: { popup: tarea.id + '/delete'} }]"-->
<!--replaceUrl="true"-->
<!--queryParamsHandling="merge"-->
<!--class="btn btn-danger btn-sm">-->
<!--<fa-icon [icon]="'times'"></fa-icon>-->
<!--<span class="d-none d-md-inline">Eliminar</span>-->
<!--</button>-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
