<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ruta-heading">Crear o editar rutas</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           [(ngModel)]="ruta.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nombre?.errors?.required">
                            Este campo es requerido.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripción</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           [(ngModel)]="ruta.descripcion" />
                </div>
                <div class="form-group">
                    <label for="field_ubicaciones">Ubicaciones</label>
                    <select class="form-control" id="field_ubicaciones" multiple name="ubicaciones">
                        <option *ngFor="let ubicacionOption of ubicaciones" (click)="onUbicationClicked()">{{ubicacionOption.nombreDireccion}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>

