<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ruta">
            <h2><span>Ruta</span> {{ruta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ruta.nombre}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{ruta.descripcion}}</span>
                </dd>
                <dt><span>Borrado</span></dt>
                <dd>
                    <span>{{ruta.borrado}}</span>
                </dd>
                <dt><span>Ubicaciones</span></dt>
                <dd>
                    <div *ngIf="ruta.ubicaciones">
                        <a [routerLink]="['/ubicacion', ruta.ubicaciones?.id, 'view']">{{ruta.ubicaciones?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ruta', ruta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
