<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ruta-heading">Create or edit a Ruta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ruta.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ruta.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="ruta.nombre" required/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="ruta.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_borrado">Borrado</label>
                    <input type="checkbox" class="form-control" name="borrado" id="field_borrado"
                        [(ngModel)]="ruta.borrado" />
                    <div [hidden]="!(editForm.controls.borrado?.dirty && editForm.controls.borrado?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.borrado?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ubicaciones">Ubicaciones</label>
                    <select class="form-control" id="field_ubicaciones" name="ubicaciones" [(ngModel)]="ruta.ubicaciones" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ubicacionOption.id === ruta.ubicaciones?.id ? ruta.ubicaciones : ubicacionOption" *ngFor="let ubicacionOption of ubicacions; trackBy: trackUbicacionById">{{ubicacionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
