<mat-form-field>
    <mat-label>Ingrese dirección</mat-label>
    <input ngx-google-places-autocomplete matInput id="autoComplete2" name="autoComplete" placeholder="" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    <mat-icon matSuffix class="secondary-text">search</mat-icon>
</mat-form-field>
<br>
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         (mapClick)="onChoseLocation($event)">
    <agm-marker
        *ngFor="let ubicacion of this.mapService.ubications"
        [latitude]="ubicacion.latitud"
        [longitude]="ubicacion.longitud"
        [label]="setLabel(ubicacion.nombreDireccion)">
        <agm-info-window>
            <strong>
                {{ubicacion.nombreDireccion}}
            </strong>
        </agm-info-window>
    </agm-marker>

    <agm-marker
        [latitude]="latMarker"
        [longitude]="lngMarker"
        [markerDraggable]="true"
        (dragEnd)="onChoseLocation($event)">
    </agm-marker>
</agm-map>
