<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="administrador">
            <h2><span>Administrador</span> {{administrador.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{administrador.nombre}}</span>
                </dd>
                <dt><span>Apellidos</span></dt>
                <dd>
                    <span>{{administrador.apellidos}}</span>
                </dd>
                <dt><span>Correo</span></dt>
                <dd>
                    <span>{{administrador.correo}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{administrador.password}}</span>
                </dd>
                <dt><span>Borrado</span></dt>
                <dd>
                    <span>{{administrador.borrado}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/administrador', administrador.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
