mat-form-field {
    width: 100%;
}
//#mainToolbar{
//    background-color: white;
//}
#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}
cancelarButton {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
