<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Recuperar su contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Este correo no se encuentra en la base de datos</strong> Por favos intente otra vez!
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese el correo que usó para registrarse.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revise su correo para mas detalles de como cambiar su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Su correo es requerido!
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Su correo es invalido!
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                                Su correo necesita al menos 5 caracteres!
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                           Su correo no puede mayor a 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Cambiar</button>
            </form>
        </div>
    </div>
</div>
