<div class="modal-header">
   <div class="container">
       <h2  class="modal-title" style="text-align: center">GPSApp</h2>
   </div>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Error con las credenciales!</strong> Revise su correo y contraseña e intentelo de nuevo
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label class="username-label" for="username">Correo*</label>
                    <input type="text"
                           class="form-control"
                           name="username"
                           id="username"
                           placeholder="Correo"
                           minlength=5
                           maxlength=254
                    [(ngModel)]="username"

                           username
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña*</label>
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="password"
                           placeholder="Contraseña"
                           [(ngModel)]="password"

                            required>

                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
            </form>
            <p></p>
            <div class="form-group">
              <h6>¿Olvidó su contraseña?</h6>  <a class="text-primary stretched-link" (click)="requestResetPassword()">Recupérala aqui</a>
            </div>
        </div>
    </div>
</div>
